form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
form div input {
  margin: 20px 0;
}
